.main .add-school {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: #000000c9;
}

@media (max-width: 991.98px) {
    .main .add-school {
        width: 90%;
    }
}