.login, .register {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: rgba(74, 78, 105, .7);
    color: #FFF;
    border-radius: 10px;
}

.login input, .register input {
    border-radius: 18px;
}

.login input {
    padding-left: 30px;
}

.login .loginInput .icon {
    top: 9px;
    left: 12px;
}

.login input, .register input {
    border-radius: 18px;
}
.login button, .register button {
    border-radius: 18px;
}

@media (max-width: 992px) {
    .login, .register {
        width: 95%;
    }
}